<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory >
        <property name="useUnicode">true</property>
        <property name="characterSetResults">UTF8</property>
        <property name="characterEncoding">UTF8</property>
        <!--<property name="hibernate.query.substitutions">true 1, false 0</property> -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_sql_comments">false</property>
        <property name="hibernate.hbm2ddl.keywords">auto-quote</property>
        <property name="hibernate.bytecode.use_reflection_optimizer">true</property>
        <!--<property name="hibernate.transaction.auto_close_session">true</property>-->
        <property name="hibernate.connection.autocommit">false</property>
        <!-- <property name="hibernate.hbm2ddl.auto">update</property>-->
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.characterEncoding">UTF8</property>
        <property name="hibernate.connection.charSet">UTF8</property>
        <property name="hibernate.connection.characterSetResults">UTF8</property>

        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!-- Las transacciones las va a manejar Spring -->
        <!--<property name="hibernate.transaction.manager_lookup_class">${hibernate.transaction.manager_lookup_class}</property>-->


        <mapping class="com.oz.atm.model.persistence.Customer"/>
        <mapping class="com.oz.atm.model.persistence.Account"/>

    </session-factory>
</hibernate-configuration>
